<% include partials/header %>

<h1>View all blogs! Someday.</h1>

<% blogs.forEach((b) => { %>
  <div>
    <h2><%= b.title %></h2>
    <img src="<%= b.image %>">
    <span>Created: <%= b.created %></span>
    <p><%= b.body.substring(0, 100) %>...</p>
    <a href="/blogs/<%= b._id %>">Read more</a>
  </div>
<% }); %>

<% include partials/footer %>
